.product {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  border-radius: 15px;
  border: 1px solid green;
  padding: 5px;
  gap: 5px;
  justify-content: center;
  align-items: center;

  .image {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
